//Colors
$dark-grey: #333;
$darker-grey: #888;
$green-color: #2ecc71;
$red-color: #e74c3c;
$yellow-color: #f1c40f;
$orange-color: #e67e22;
$blue-color: #1c88bf;
$dark-blue: #364051;
$grey-color: #7f8c8d;
$white-color: #fff;
$grey: #f7f7f7;
$light-grey: #666;

//font-size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


